<!DOCTYPE html>
<html>
<head>
  
<%=link_to 'homepage', root_path %>
<style>
body {
  background-color:#ffd966;
}
  
h2 {
   font-family: Gill Sans, Verdana;
 font-size: 11px;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
}
 
 ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
  overflow:none;
}

li {
  float:left;
  background-color: #333333;
}

li a {
  display:block;
  color:white;
  text-align:center;
  padding:15px;
  text-decoration:none;
}
li a:hover {
  background-color:#111111;
}
</style>
</head>
<body>
  <h2> About</h2>
  <ul>
    <li><a href="http://lenin-web-app.herokuapp.com/">homepage</a></li>
  </ul>
  <br>
  <br>
  <br>
  
  <p><strong> this is the about page</strong> no this is not a real website but for any questions <em> email me at</em>: imvectz@yandex.com  </p>
</body>
</html>
