<!DOCTYPE html>
<html>
<head>
  
  <%= link_to 'alpha blog', articles_path %> | <%= link_to 'about', about_path %>
  
<style>
body {
  background-color:#ffd966;
}

h2 {
   font-family: Gill Sans, Verdana;
 font-size: 11px;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
}

p {
  font-family:monospace;
  text-align:left;
  padding:4px;
  margin:4px;
}
h1 {
 font-family: times, Times New Roman, times-roman, georgia, serif;
 color: #444;
 margin: 0;
 padding: 0px 0px 6px 0px;
 font-size: 51px;
 line-height:24px;
 letter-spacing: -2px;
 font-weight: bold;
  
}

ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
  overflow:none;
}

li {
  float:left;
  background-color: #333333;
}

li a {
  display:block;
  color:white;
  text-align:center;
  padding:15px;
  text-decoration:none;
}
li a:hover {
  background-color:#111111;
}
</style>
</head>
<body>
  <h2> welcome to the</h2>
  <h1> Homepage</h1>
  <br>
  <ul>
    <li><a href="http://lenin-web-app.herokuapp.com/">homepage</a></li>
    <li><a href="http://lenin-web-app.herokuapp.com/about">about</a></li>
    <li><a> Lenin </a></li>
    <li><a> VectZ </a></li>
    <li><a href="https://www.youtube.com/channel/UCPa10QLUA-_yJuL_WA9RzvA?view_as=subscriber"> Youtube </a></li>
  </ul>
  <br>
  <br>
  <br>
  <hr style="color: black;">
  <p>
    <strong> this is my first page </strong>so im just adding some content on this page atm <br>
    seeing whats up and seeing if <em>it looks right and stuff </em> LOL.
  </p>
  
</body>
</html>

