<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.instagram.com/vectz/"> Alpha blog</a> by <a href="https://www.instagram.com/vectz/"> VectZ</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "about", about_path %> 
        </li>
      </ul>
    </nav>
  </footer>
</div>
  